body{
  margin: 0;
  text-align: center;
  font-family:'Merriweather', serif;
  font-sie:40px;
  color: #40514E;
}
h1{
  font-size:5.62rem;
  width: 10;
  line-hight: 2;
  /*margin:0  auto 0 auto;*/
  font-family:  'Sacramento';
  color:#66BFBF
}
h2{
  font-family: 'Montserrat',cursive;
  font-size: 2.5rem;
  color:#66BFBF;
  font-weight: normal;
  margin-top: 66.4px;
}
h3{
  font-family: 'Montserrat',cursive;
  color:#11999E;
}

a
{
  color: red;
  font-family: 'Montserrat',cursive;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.COPY-RIGHT{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}




.top-container{
  background-color: #E4F9F5;
  padding: 20px;
  margn: 20px;
  position: relative;
  padding-top: 100px;
}


.middle-container{
margin: 100px 0;
}
.bottom-container
{
background-color: #66BFBF;
padding: 50PX 0 20PX;
}

.pro{
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;

}
.skill-row{
  diplay: inline-block;
  width: 50%;
  margin: 100px auto 100px auto;
/*  margin-bottom: 100px;
  margin-top: 100px;
*/
text-align:left;
line-height: 2;

}
.code-image{
width: 25%;
float:left;
margin-right: 30px;
}

.r-image{
  width: 25%;
   float:right;
  margin-left: 30px;
}


hr{
/*  border-style: none;
height: 0px;
border-top-style: dotted;
width: 40px;
border-width: 7px;
color: grey;    othrer mrtod*/

border: dotted grey 6px;
border-bottom: none;
width: 4%;


margin: 100px auto ;
}


.for-space{
  width: 20%;
  margin:auto;
  padding:50px;
}

p
{
  line-height: 2;
}

.con-class
{
  width: 20%;
  margin:100px auto;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat',cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}







/*
.code-class{
  clear: left;
}
.r-class{
  clear: right;
}
